* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
li {
  list-style: none;
}

body {
  background-color: #181216;
  color: #ffffff;
  font-family: "Chelsea Market";
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

.container {
  width: 1366px;
  background-color: #030406;
  margin: 0 auto;
  text-align: center;
}
/* Universal Laws */
.row {
  display: flex;
}
.col {
  background-color: #030406;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-content: center;
}
.oneFourth {
  flex-grow: 0;
  width: 22%;
  height: 100%;
}
.twoFourth {
  width: 47%;
}
.threeFourth {
  flex-grow: 0;
  width: 72%;
}
.fullSize {
  width: 90%;
}

/* Header stuff */
.top-selfie {
  border-radius: 50%;
  margin-top: 2rem;
}
.top-title {
  margin: 1.5rem 0;
  text-decoration: none;
}
.active-page {
  border: #d7f205 solid 5px;
}
.active-page:hover {
  border: #ab05f2 solid 5px;
}
header {
  text-align: center;
}
nav {
  position: sticky;
  padding: 1rem 0;
  top: 0;
  z-index: 100;
  background-color: black;
  margin-bottom: 2rem;
}
.nav {
  flex-direction: row;
  justify-content: space-evenly;
}
.nav li a {
  background-color: #ab05f2;
  /* border-radius: 290486px; */
  padding: 0.5rem 1.5rem;
  font-size: 40px;
  transition: 0.2s;
}
.nav li a:hover {
  background-color: #d7f205;
  color: #ab05f2;
}
main h1,
main h2 {
  margin-bottom: 1.5rem;
  width: 100%;
}
a {
  text-decoration: none;
  text-align: center;
  margin: 0px auto;
  color: #f2d64b;
}
a:hover {
  color: #ab05f2;
}
h1 {
  text-align: center;
  margin: 0px auto;
  font-size: 60px;
  color: #d7f205;
  font-family: "Chelsea Market", cursive;
}
h2 {
  color: #5c73f2;
  text-align: center;
  padding: 25px;
  font-size: 4rem;
  line-height: 50px;
}
h3 {
  text-align: center;
  margin: 0px auto;

  font-size: 2rem;
  color: #23d9b7;
}

h4 {
  text-align: center;
  margin: 0px auto;
  padding: 25px;
  font-size: 30px;
}

.rounded {
  border-radius: 305px;
}

p {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  line-height: 50px;
  margin: 0px auto;
}
/* Gallery images */

.big-img {
  padding: 1rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.carousel {
  margin: 0 auto;
}
.carousel img {
  margin: 0 auto;
}
/* about page */

main {
  text-align: center;
  margin: 0 auto;
}
.resume:hover {
  border: 10px #ab05f2 unset;
}

/* games */
.game-link {
  position: relative;
  margin: 0;
  display: block;
  margin: 0 auto;
}
.game-link img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.game-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  padding-top: 30%;
  transition: 0.2s;
  font-size: 5rem;
}
.game-link:hover .game-text {
  visibility: visible;
  opacity: 1;
}

/* form */
form {
  width: 50rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}
label {
  margin: 0.5rem auto;
  padding: 0;
  width: 70%;
  text-align: left;
  color: white;
  font-size: 2rem;
}
label input {
  width: 100%;
  background-color: white;
  color: black;
  height: 2rem;
}
label textarea {
  width: 100%;
  background-color: white;
  color: black;
}
form button {
  margin: 1em auto;
  padding: 0.25em 1.5em;
  background-color: #ab05f2;
  color: #d7f205;
  transition: 0.2s;
  border: none;
  font-size: 2rem;
}
form button:hover {
  cursor: pointer;
  background-color: #f2d64b;
  color: #ab05f2;
}

@media (max-width: 800px) {
  .container {
    width: 100vw;
  }
  .nav li a {
    font-size: 1.5rem;
  }
  .carousel {
    width: 90vw;
  }
  .carousel img {
    width: 150px;
    height: auto;
  }
  .carousel h2 {
    font-size: 2rem;
  }
  .carousel p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .fullSize img,
  .twoFourth img {
    width: 95%;
  }
  .oneFourth {
    width: 30%;
    font-size: 1rem;
  }
  .resume img {
    width: 80%;
    display: inline-block;
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .nav li a {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }
  form {
    width: 90%;
  }
  form label {
    margin: 0;
    width: 100%;
  }
}
